.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $rem(26px);
  padding-right: $rem(26px);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: $rem(30px);
  padding-bottom: $rem(50px);
  background-color: $black;
  color: $white;
}

.is-centred {
  text-align: center;
}

.is-display-block {
  display: block;
  width: 100%;
}

.is-pulled-right {
  float: right;
}

.is-pulled-left {
  float: left;
}

.box {
  border: 1px solid $brown-paper;
  border-radius: 12px;
  padding: $rem(20px) $rem(26px);
}
