.sg-component {
  margin-top: $rem(180px);
  margin-bottom: $rem(180px);

  &--name {
    font-family: $heading-font;
    font-size: $rem(26px);
    font-weight: 600;
    line-height: $rem(30px);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: $rem(20px);
  }

  &--preview {
    margin-bottom: $rem(20px);
  }

  &--code {

  }
}
