.bookings {
  padding-top: $rem(30px);
  padding-bottom: $rem(50px);

  &--list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $rem(30px);
  }

  &--item {
    &-date-and-time {
      margin-bottom: $rem(10px);
    }


    &-restaurant-and-location {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: $rem(30px);
    }

    &-restaurant {
      font-family: $heading-font;
      font-size: $rem(42px);
      font-weight: 500;
    }

    &-location {

    }
  }
}
