.header {
  background-color: desaturate(darken($brown-paper, 20%), 30%);
  padding-top: $rem(10px);
  padding-bottom: $rem(10px);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.logo {
  color: $black;
  font-family: $heading-font;
  font-size: $rem(26px);
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  // text-transform: uppercase;

}
