.restaurants {
  &--list {
    display: grid
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $rem(30px);
  }

  &--item {
    background-color: $white;
    padding: $rem(20px);
    border-radius: 12px;
  }
}
